body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E37575;
}

.header {
    width: 100%;
    padding: 10px 20px; /* Adjust as needed for spacing */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow for depth */
    background: #f8cdd1; /* Adjust the color to match your design */
    position: fixed; /* Makes the header stick to the top */
    top: 0; /* Aligns to the top */
    z-index: 1000; /* Ensures the header is above other content */
}

.header-button {
    margin-right: 10px; /* Space between buttons */
    padding: 8px 16px;
    background-color: #f8cdd1; /* Light pink background */
    color: white;
    border: none;
    border-radius: 20px; /* Rounded corners for buttons */
    cursor: pointer;
    font-size: 16px;
}

.header-button:hover {
    background-color: #e7a1a2; /* Slightly darker pink on hover */
}

.timer-container {
    background-color: #f8cdd1; /* Adjust the color to match your desired pink shade */
    border-radius: 25px; /* Gives the rounded corners */
    padding: 20px; /* Adjust the padding for spacing inside the container */
    text-align: center; /* Center the text */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    max-width: 400px; /* Maximum width of the container */
    margin: auto; /* Center the container */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center children vertically */
    align-items: center; /* Center children horizontally */
}

.image-gallery{
    flex-basis: 48%;
    margin-left: 20px;
}

.image-gallery img {
    width: 100%; /* Adjust as needed */
    margin-bottom: 10px; /* Space between images */
}

#time-display {
    font-size: 5em; /* Larger font size for the timer */
    color: #333; /* Darker font color for contrast */
    margin: 20px 0; /* Spacing above and below the timer */
}

.button-container {
    display: flex;
    justify-content: center;
}

button {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
}

.modal {
    display: none; /* hidden by default */
    position: fixed;
    z-index: 1; /* sit on top */
    left: 0;
    top: 0;
    width: 100%; /* full width and height */
    height: 100%;
    overflow: auto; /* enable scrolling if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #f8cdd1; /* Light pink background */
    margin: 15% auto; /* Center the modal */
    padding: 20px;
    border: none; /* Remove border */
    width: 80%; /* Adjust width as needed */
    max-width: 400px; /* Maximum width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    border-radius: 25px; /* Rounded corners */
    text-align: center; /* Center the text inside modal */
    color: #000; /* Text color */
    position: relative; /* Needed to position the close button absolutely within the modal */
}

/* Style the form inputs */
.modal-content input[type="number"],
.modal-content input[type="text"],
.modal-content input[type="email"],
.modal-content input[type="password"]{
    width: 80%; /* Width of input fields */
    padding: 10px; /* Padding inside input fields */
    margin: 10px 0; /* Margin around inputs */
    border: 1px solid #ccc; /* Border around input */
    border-radius: 25px; /* Rounded corners of input fields */
    box-sizing: border-box; /* Include padding and border in the element's width */
    margin-left: auto; /* Center align the input fields */
    margin-right: auto; /* Center align the input fields */
}

/* Styling for the modal labels for consistency */
.modal-content label {
    display: block; /* Each label on a new line */
    margin-top: 10px; /* Space above each label */
    font-size: 1em; /* Font size */
}

/* Adjust the modal title */
.modal-content h2 {
    font-size: 1.5em; /* Larger font size for title */
    margin-bottom: 20px; /* Space below the title */
}

/* Button styles */
.modal-content button {
    width: auto; /* Adjust width as needed */
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #e7a1a2; /* Adjust the color to match your desired button shade */
    color: #ffffff; /* Text color */
    text-transform: uppercase; /* Uppercase text */
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Style the apply button */
#apply-custom-timers {
    background-color: #e7a1a2; /* Light pink background */
    border: none; /* Remove border */
    border-radius: 25px; /* Rounded corners */
    padding: 10px 20px; /* Padding inside the button */
    margin-top: 20px; /* Margin above the button */
    color: white; /* Text color */
    font-weight: bold; /* Bold font */
    box-shadow: none; /* No shadow */
}

.close-btn {
    color: #000; /* Black color */
    position: absolute; /* Position it in the top-right corner of the modal */
    top: 10px; /* Distance from the top */
    font-size: 1.5em; /* Larger font size */
    cursor: pointer; /* Pointer cursor on hover */
    right: 20px; /* Reset right positioning */
    left: auto; /* Distance from the left */
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#customize-btn {
    /* Your styles here (e.g., padding, font size) */
    margin-top: 20px;
}

/* Add some padding and margin to inputs and labels */
label, input[type=number] {
    margin: 10px 0;
    padding: 5px;
    display: block;
}

.container {
    display: flex;
    justify-content: center;
    align-items: start; /* Aligns items at the top */
}

.todo-container {
    background-color: #f8cdd1; /* Adjust the color to match your desired pink shade */
    border-radius: 25px; /* Gives the rounded corners */
    padding: 20px; /* Adjust the padding for spacing inside the container */
    max-width: 300px; /* Maximum width of the container */
    margin: auto; /* Center the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: adds a subtle shadow for depth */
    text-align: center; /* Center the text */
}

.todo-item {
    display: flex;
    border: none; 
    background-color: transparent;
    margin-bottom: 1px;
    padding: 1px;
    cursor: text;
}

.todo-text {
    flex-grow: 1; /* Allows the text div to fill the space */
    border: none;
    border-bottom: none;
    background-color: transparent;
    padding: 5px;
    cursor: text;
    text-align: left;
}

.todo-item:focus {
    background-color: #eef4ff; /* Slight background color on focus */
    outline: none; /* Remove the default focus outline */
}

.app-container {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
    align-items: flex-start; /* Align items at the top */
    gap: 20px; /* Creates space between flex items, adjust as needed */
    padding-top: 60px; /* Add padding to top to account for fixed header height */
}

/* Styles for the complete button */
.complete-btn {
    margin-right: 10px;
    border: none;
    background: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 16px; /* You can adjust the size as needed */
}

.complete-btn.completed {
    background-color: lightblue;
}

.todo-item.completed .todo-text {
    text-decoration: line-through;
    background-color: transparent;
    color: #aaa;
}

.rounded-pink-btn {
    background-color: #e7a1a2; /* Adjust the color to match your desired button shade */
    border: none;
    border-radius: 20px; /* Rounded corners for buttons */
    padding: 10px 20px; /* Padding inside the buttons */
    margin-top: 10px; /* Space above the buttons */
    cursor: pointer;
    color: #ffffff; /* Text color */
    font-weight: bold;
    text-transform: uppercase; /* Optional: Uppercase button text */
    outline: none; /* Removes the outline */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional: adds a subtle shadow for depth */
}

/* Hover effect for buttons */
.rounded-pink-btn:hover {
    background-color: #d9898a; /* Darker shade on hover */
}

/* Flex container for inline elements like todo items and buttons */
.flex-row {
    display: flex;
    align-items: center;
}

/* Strikethrough class for completed text */
.strike-through {
    text-decoration: line-through;
}

.goal-container {
    background-color: #a2e4b8; /* Light green background */
    color: #2f4f4f; /* Dark green text color */
    padding: 10px 20px;
    border-radius: 15px; /* Rounded corners */
    margin: 20px 0; /* Space above and below */
    font-size: 0.9em; /* Smaller text */
    text-align: center;
    display: none; /* Start as hidden */
    width: 80%; /* Adjust width as needed */
    margin-left: auto; /* Center the div */
    margin-right: auto; /* Center the div */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional: adds a subtle shadow for depth */
}

/* When a goal is set, this class will be toggled to display the goal */
.goal-set {
    display: block;
}

/* Additional styles to make the editable text look more like a label */
.todo-text[contenteditable="true"] {
    display: inline-block;
    margin: 0 10px;
    min-width: 150px; /* Ensures the editable area has a default width */
}

/* Focus effect for contenteditable */
.todo-text[contenteditable="true"]:focus {
    border-bottom: 1px solid #000; /* Darker underline on focus */
}


/* Adjustments for the title of the to-do list */
.todo-container > div:first-child {
    font-size: 1.5em; /* Larger text for the title */
    font-weight: bold;
    margin-bottom: 20px; /* Spacing after the title */
}



